* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.containerAll {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerTop {
  display: flex;
  /* background-color: green; */
  height: 260px;
  justify-content: flex-end;
  padding: 10px;
}

.containerLogo {
  /* background-color: greenyellow; */
  justify-content: center;
  display: flex;
}

.containerSearch {
  display: flex;
  /* background-color: hotpink; */
  height: 150px;
  justify-content: center;
}

.containerButtons {
  display: flex;
  /* background-color: khaki; */
  height: auto;
  padding-top: 20px;
  /* justify-content: center; */
  justify-content: space-evenly;
  padding-left: 140px;
  padding-right: 140px;
}

.containerLang {
  /* background-color: lightgreen; */
  height: 350px;
  display: flex;
  justify-content: center;
}

.containerFooter {
  background-color: #f2f2f2;
  height: auto;
}

.topInfo {
  height: 50px;
  padding: 15px;
  width: 200px;
  /* background-color: beige; */
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.logo {
  display: flex;
}

.bar {
  background: #fff;
  display: flex;
  border: 1px solid gray;
  width: 570px;
  border-radius: 24px;
  height: 44px;
  margin-top: 21px;
  opacity: 0.3;
}

.lupa {
  opacity: 0.7;
  margin-top: 9px;
  margin-left: 10px;
}

input {
  margin-top: 9px;
  margin-left: 10px;
  width: 500px;
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  /* justify-content: flex-end; */
  height: auto;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.languages {
  /* background-color: brown; */
  height: 50px;
  width: 323px;
  display: flex;
  justify-content: space-between;
  font-size: small;
  text-decoration: none !important;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer {
  /* background: darkmagenta; */
  padding: 15px 22px;

  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.footerLeft {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 400px;
}

.footerRight {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 250px;
}
